<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position</title>

    <style>

        #div1 {
            background-color: rgba(255, 0, 0, .5);
            padding: 10px;
            width: 50%;
            position: sticky;
            height: 200px;
            top: 0;
            bottom: 0;
        }

        #div2 {
            background-color: rgba(0, 255, 0, .5);
            padding: 10px;
            width: 80%;
            height: 50px;
            position: static;
        }

        #div3 {
            background-color: rgba(0, 0, 255, .5);
            padding: 10px;
            width: 30px;
            height: 30px;
            position: static;
            top: 20px;
            right: 0;
        }

    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>

    <div id="div1">
        1
        <div id="div2">
            2
            <div id="div3">3</div>
        </div>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo cum aliquam, obcaecati inventore voluptatum dignissimos minima eius velit ex assumenda dolorum error alias architecto explicabo recusandae odit tenetur consequuntur.</p>

</body>
</html>